main{
  text-align: center;
  margin-top: 5rem;
  width: 100%;
}
.login-container{
  border:3px solid black;
  height:23rem;
  text-align: start;
  border-radius: 13px;
  background-color: #e6e1e7;
}
.login-btns{
  display: flex;
  margin-top: 3rem;
  justify-content: end;
}
.login-account-container{
  margin-top: 2rem;
}
.login-password-container{
  margin-top: 2rem;
}
#login-id-input{
  border: 2px solid darkgrey;
}
#login-password-input{
  border: 2px solid darkgrey;
}
.click-login-btn{
  margin-left: 1.7rem;
}

.layout-head{
  font-size: 50px;
  display: flex;
}

.cart-icon:hover{
  color: blue;
  font-size:1.2em;
}
.login-icon:hover{
  color: blue;
  font-size:1.2em;
}
.lo-success-icon:hover{
  color: blue;
  font-size:1.2em;
}
.lo-fail-icon:hover{
  color: blue;
  font-size:1.2em;
}
.cart-icon{
  margin-bottom:5px;
}

.home-btn{
  margin-top:10px;
  color: purple;
  font-weight: bold;
}
.home-btn:hover{
  font-size: 1.2em;
  color: lightcoral;
}
.navbar{
  height: 3.5rem;
  font-size: 1.5rem;
  border-radius:15px;
  border-top: 3px solid darkslategray;
  border-bottom: 3px solid #8d650c;
  box-shadow: 5px 7px 5px grey;
}
.right-icons{
  font-size: 1.7rem;
  margin-right:30px;
}
.home-btns{
  margin-top:23px;
  display: flex;
  justify-content: space-evenly;
}
.home-showing-text{
  margin-top:20px;
  display: flex;
  text-align: start;
  color:grey;
}
.products-container{
  margin-top:15px;
  width:1.2rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.card-description{
  width:14rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-top:20px;
  text-overflow: ellipsis;
  font-size:17px;
}
.card-footer{
  margin-top:20px;
  display:flex;
  justify-content: space-between;
  font-size:17px;
  align-items: center;
  font-weight:bold;
}
.basket-product-container{
  margin-top:10px;
  display:flex;
  justify-content: space-between;
  padding-bottom:10px;
  border-bottom: 3px solid lightgrey;
}
.baskets-left-section{
  display:flex;
}
.baskets-left-img{
  border-radius:20px;
  background-color: #d0d9e0;
  height:7rem;
  width:7rem;
}
.left-description{
  margin-left:17px;
  font-size:19px;
  text-align: start;
}
.baskets-center{
  margin-top:50px;
}
.baskets-calc-btns{
  display:flex;
  margin-top:60px;
  justify-content: end;
  margin-right:10px;
}
.basket-calc-btn{
  margin-left:20px;
}
.basket-sum-btn{
  width:15rem;
}
.cart-icon-count{
  border: 1px solid #0c0606;
  border-radius:50px;
  font-size: 11px;
  position:absolute;
  top:0;
  right: 0;
  width:1.5em;
  background-color: #8d650c;
  color: white;
}
.loading-container{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}




