main{
  text-align: center;
  margin-top: 5rem;
}
.login-container{
  border:3px solid black;
  height:23rem;
  text-align: start;
  border-radius: 13px;
  background-color: #e6e1e7;
}
.login-btns{
  display: flex;
  margin-top: 3rem;
  justify-content: end;
}
.login-account-container{
  margin-top: 2rem;
}
.login-password-container{
  margin-top: 2rem;
}
#login-id-input{
  border: 2px solid darkgrey;
}
#login-password-input{
  border: 2px solid darkgrey;
}
.click-login-btn{
  margin-left: 1.7rem;
}

.layout-head{
  font-size: 50px;
  display: flex;
}

.cart-icon:hover{
  color: blue;
  font-size:1.2em;
}
.login-icon:hover{
  color: blue;
  font-size:1.2em;
}
.lo-success-icon:hover{
  color: blue;
  font-size:1.2em;
}
.lo-fail-icon:hover{
  color: blue;
  font-size:1.2em;
}
.cart-icon{
  margin-bottom:5px;
}

.home-btn{
  margin-top:10px;
  color: purple;
  font-weight: bold;
}
.home-btn:hover{
  font-size: 1.2em;
  color: lightcoral;
}
.navbar{
  height: 3.5rem;
  font-size: 1.5rem;
  border-radius:15px;
  border-top: 3px solid darkslategray;
  border-bottom: 3px solid #8d650c;
}
.right-icons{
  font-size: 1.7rem;
  margin-right:30px;
}
