main{
  text-align: center;
  margin-top: 20px;
}

.layout-head{
  font-size: 50px;
  display: flex;
}
.cart-icon{
  margin-right: 0.45rem;
  margin-bottom: 0.2rem;
}
.lo-success-icon{
  margin-right: 0.4rem;
}
.login-icon{
  margin-right: 0.5rem;
}
.cart-icon:hover{
  color: blue;
  font-size:1.2em;
}
.login-icon:hover{
  color: blue;
  font-size:1.2em;
}
.lo-success-icon:hover{
  color: blue;
  font-size:1.2em;
}
.lo-fail-icon:hover{
  color: blue;
  font-size:1.2em;
}

.home-btn{
  margin-left: 30px;
  color: purple;
  font-weight: bold;
}
.home-btn:hover{
  font-size: 1.2em;
  color: lightcoral;
}
.navbar{
  height: 3.5rem;
  font-size: 1.5rem;
}
.right-icons{
  font-size: 1.7rem;
  margin-right:30px;
}

